#dampe-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #111;
  color: white;
  padding: 1em;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  z-index: 1000;
  overflow-y: auto;
}

#dampe-sidebar h3 {
  margin-top: 1.5em;
  font-size: 1.1em;
  border-bottom: 1px solid #555;
  padding-bottom: 0.5em;
}

#dampe-sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1em;
}

#dampe-card-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

#dampe-card-list li {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

#dampe-card-list img {
  height: 32px;
  width: auto;
}


/* ----------- Dig Button and Result ----------- */

.digBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #008080;
  max-width: 800px;
  width: 300px;
  font-size: 2.6em;
  padding: 8px;
  background-color: #161616;
  border-radius: 12px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.digBtn:hover {
  color: #f2f2f2;
  background-color: #008080;
  transition: background-color 0.5s ease;
}

.digflash {
  filter: brightness(1.5);
  box-shadow: 0 0 10px rgba(83, 137, 141, 0.6);
  transition: all 0.1s ease;
}

#result {
text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.result-img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 100px;
  border-radius: 15px;
}