.dampebody {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0d0d0d;
  font-family: Arial, sans-serif;
  color: #fff;
  overflow: hidden;
}

/* BUTTONS */

.digBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #008080;
  max-width: 800px;
  width: 300px;
  font-size: 2.6em;
  padding: 8px;
  background-color: #161616;
  border-radius: 12px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.digBtn:hover {
  color: #f2f2f2;
  background-color: #008080;
  transition: background-color 0.5s ease;
}

.digflash {
  filter: brightness(1.5);
  box-shadow: 0 0 10px rgba(83, 137, 141, 0.6);
  transition: all 0.1s ease;
}

.back-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 300px;
  text-align: center;
  padding: 10px 20px;
  background-color: #008080;
  color: #f2f2f2;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.back-button:hover {
  background-color: #4d4d4d;
  text-decoration: none;
}

.resetBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  max-width: 800px;
  width: 300px;
  padding: 8px;
  background-color: #c53333;
  border-radius: 12px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.resetBtn:hover {
    background-color: white;
    color: #c53333;
    transition: background-color 0.5s ease;
}


/* Username Text Box */

#usernameBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

#usernameBox input {
  margin-left: 6px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}

/* General Formatting*/


#result {
text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.result-img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 100px;
  border-radius: 15px;
}

#droughtStats {
  margin-top: 10px;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial;
  font-size: 16px;
  z-index: 1000;
  padding: 8px 0;
  pointer-events: none;
}

#droughtStats span {
  margin: 0 20px;
}

#itemSummary {
  position: fixed;
  bottom: 110px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 16px 30px;
  border-radius: 10px;
  font-size: 1.2em;
  display: flex;
  font-family: 'Verdana', sans-serif;
  flex-direction: column;
  gap: 16px;
}

#itemSummary div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#itemSummary img {
  height: 38px;
  width: auto;
}




/* Used in Dampe Digging to keep track of the user's rupees */
#rupeeCounter {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  padding: 26px 35px;
  border-radius: 12px;
  font-size: 2.5em;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  z-index: 9999;
  gap: 30px;
  transition: background-color 0.3s ease;
}

#rupeeCounter img {
  height: 60px;
  width: auto;
}

#rupeeCounter.flash-gain {
  background-color: #1a3; /* Green flash */
  transition: background-color 0.3s ease;
}

#rupeeCounter.flash-loss {
  background-color: #a11; /* Red flash */
  transition: background-color 0.3s ease;
}