.passbody {
    background-color: #0d0d0d;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.boxbackground {
    position: relative;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 70%;
    min-width: fit-content;
    min-height: fit-content;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f2f2f2;
    background-color: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.phrase-list {
    font-family: sans-serif;
    margin: 10% auto;
}

.phrase-list a.phrase {
    display: block;
    text-decoration: none;
    color: inherit;
}

.phrase {
    border-style: ridge;
    border-width: 5px;
    border-radius: 12px;
    border-color: #272727;
    margin-bottom: 5px;
    padding: 5px 25px;
    transition: background-color 0.5s ease, border-style 0.5s ease;
}

.phrase:hover {
    border-style: none;
    padding: 10px 30px;
    margin-bottom: 5px;
    background-color: #272727;
    transition: background-color 0.5s ease, border-style 0.5s ease;
}

.phrase-title {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.phrase-definition {
    color: #7c7c7c;
    margin-top: 0.2em;
    font-size: 1rem;
}

.back-button {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 10px 20px;
    background-color: #008080;
    color: #f2f2f2;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.back-button:hover {
    background-color: #4d4d4d;
    text-decoration: none;
}

.back-button-supporter {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 10px 20px;
    background-color: #a17c15;
    color: #f2f2f2;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.back-button-supporter:hover {
    background-color: #4d4d4d;
    text-decoration: none;
}